<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_auth-page-layout}">
<head>
    <title>Sign In</title>
</head>

<body>
<div layout:fragment="main-content">
    <div class="text-center mb-4">
        <h4 class="text-uppercase mt-0">Log In</h4>
    </div>

    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        Invalid username or password.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${param.logout}" class="alert alert-success alert-dismissible fade show"
         role="alert">
        You have been logged out.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form th:action="@{/auth/authenticateUser}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="username" class="form-control" type="text" id="username"
                   placeholder="Enter your username" autocomplete="username" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="input-group input-group-merge">
                <input type="password" id="password" name="password" class="form-control"
                       placeholder="Enter your password" autocomplete="current-password"
                       required>
                <div class="input-group-text" data-password="false">
                    <span class="password-eye"></span>
                </div>
            </div>
        </div>

        <div class="mb-3 d-grid text-center">
            <button class="btn btn-primary" type="submit"> Log In</button>
        </div>
    </form>
</div>
</body>
</html>