<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_auth-page-layout}">
<head>
    <title>Credentials Updated</title>
</head>

<body>
<div layout:fragment="main-content">
    <h3 class="text-success text-center mb-3">Your Credentials Have Been Updated</h3>
    <p class="text-muted text-center">You can now use our mobile app to log in with your new credentials.</p>
    <p class="text-muted text-center">If you encounter any issues, please <a href="">contact our support
        team</a>. We’re here to help!</p>
</div>
</body>
</html>