<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_auth-page-layout}">
<head>
    <title>Credentials Update</title>

    <style>
        .validation-error {
            color: red;
            font-size: 12px;
        }
    </style>
</head>

<body>
<div layout:fragment="main-content">
    <div class="text-center mb-4">
        <h4 class="text-uppercase mt-0">Update Your Credentials</h4>
    </div>

    <form th:action="@{/auth/updateCredentials}" th:object="${client}" method="post"
          onsubmit="return validatePasswords()">
        <div class="mb-3">
            <label for="username" class="form-label">New Username</label>
            <input id="username" name="username" th:field="*{username}" class="form-control" type="text"
                   pattern="^[A-Za-z][A-Za-z0-9_]{7,29}$"
                   title="Username must be 8 to 30 characters long, start with a letter, and contain only letters, digits, and underscores."
                   placeholder="Enter your new username" autocomplete="username" required>
            <span class="validation-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <div class="input-group input-group-merge">
                <input id="password" name="password" th:field="*{password}" class="form-control" type="password"
                       pattern="^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[@#$%^&+=!.<>])(?!.* ).{8,64}$"
                       title="Password must be 8 to 64 characters long and contains at least one letter, one digit, one special character (@#$%^&+=!.<>), and no spaces."
                       placeholder="Enter your new password" autocomplete="new-password" required>
                <div class="input-group-text" data-password="false">
                    <span class="password-eye"></span>
                </div>
                <span class="validation-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
        </div>

        <div id="confirm-password-div" class="mb-3">
            <label for="confirm-password" class="form-label">Confirm New Password</label>
            <div class="input-group input-group-merge">
                <input id="confirm-password" name="confirm-password" th:field="*{confirmPassword}" class="form-control"
                       type="password" placeholder="Confirm your new password" required>
                <div class="input-group-text" data-password="false">
                    <span class="password-eye"></span>
                </div>
            </div>
            <div th:each="err: ${#fields.globalErrors()}">
                <span class="validation-error" th:text="${err}"></span>
            </div>
            <span class="validation-error" th:if="${#fields.hasErrors('confirmPassword')}"
                  th:errors="*{confirmPassword}"></span>
        </div>

        <div class="mb-3 d-grid text-center">
            <button id="update-button" class="btn btn-primary" type="submit">Update Credentials</button>
        </div>
    </form>

    <!-- Custom script -->
    <script>
        function addSpinner(element) {
            element.innerHTML =
                `<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                 <span class="visually-hidden">Loading...</span>`;
        }

        function validatePasswords() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            const div = document.getElementById('confirm-password-div');
            const errorSpanId = 'confirm-password-error';

            // Remove previous error message if it exists.
            const existingSpan = document.getElementById(errorSpanId);
            if (existingSpan) {
                div.removeChild(existingSpan);
            }

            // Check if passwords match.
            if (password !== confirmPassword) {
                const span = document.createElement('span');
                span.id = errorSpanId;
                span.className = 'validation-error';
                span.innerText = 'Passwords do not match.';
                div.appendChild(span);
                return false;
            }

            // Add spinner to the button.
            addSpinner(document.getElementById('update-button'));

            return true;
        }
    </script>
</div>
</body>
</html>