<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page-layout}">
<head>
    <title>Announcements</title>

    <!-- Plugins css -->
    <link th:href="@{/libs/quill/quill.core.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/libs/quill/quill.bubble.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/libs/quill/quill.snow.css}" rel="stylesheet" type="text/css"/>
</head>

<div layout:fragment="main">
    <div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h4 class="modal-title">Announcement title here</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a href="#view-announcement" data-bs-toggle="tab" aria-expanded="false"
                                                   class="nav-link active">
                                                    View announcement
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#edit-announcement" data-bs-toggle="tab" aria-expanded="true"
                                                   class="nav-link">
                                                    Edit announcement
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="view-announcement">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div id="bubble-editor">
                                                                <h3><span class="ql-size-large">Hello World!</span></h3>
                                                                <p><br></p>
                                                                <h3>This is a simple editable area.</h3>
                                                                <p><br></p>
                                                                <ul>
                                                                    <li>
                                                                        Select a text to reveal the toolbar.
                                                                    </li>
                                                                    <li>
                                                                        Edit rich document on-the-fly, so elastic!
                                                                    </li>
                                                                </ul>
                                                                <p><br></p>
                                                                <p>
                                                                    End of simple area
                                                                </p>
                                                            </div> <!-- end Snow-editor-->
                                                        </div> <!-- end card-body-->
                                                    </div> <!-- end card-->
                                                </div><!-- end col -->
                                            </div>

                                            <div class="tab-pane" id="edit-announcement">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div id="snow-editor">
                                                                <h3><span class="ql-size-large">Hello World!</span></h3>
                                                                <p><br></p>
                                                                <h3>This is a simple editable area.</h3>
                                                                <p><br></p>
                                                                <ul>
                                                                    <li>
                                                                        Select a text to reveal the toolbar.
                                                                    </li>
                                                                    <li>
                                                                        Edit rich document on-the-fly, so elastic!
                                                                    </li>
                                                                </ul>
                                                                <p><br></p>
                                                                <p>
                                                                    End of simple area
                                                                </p>

                                                            </div> <!-- end Snow-editor-->
                                                        </div> <!-- end card-body-->
                                                    </div> <!-- end card-->
                                                </div><!-- end col -->
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="row">
        <div class="col-sm-12">
            <div class="timeline">
                <article class="timeline-item alt">
                    <div class="time-show first">
                        <a class="btn btn-warning width-lg" style="pointer-events: none">Today</a>
                    </div>
                </article>
                <article class="timeline-item alt">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow-alt"></span>
                                <span class="timeline-icon bg-danger"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-danger mt-0">1 hour ago</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>Announcement title here</p>
                                <div style="float: right; margin-top: 5px">
                                    <button type="button" class="btn btn-info waves-effect waves-light rounded-pill"
                                            data-bs-toggle="modal" data-bs-target="#custom-modal">View announcement
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="timeline-item ">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow"></span>
                                <span class="timeline-icon bg-success"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-success mt-0">2 hours ago</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John deon</a>
                                    provident rerum aut hic quasi placeat iure tempora laudantium </p>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="timeline-item alt">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow-alt"></span>
                                <span class="timeline-icon bg-primary"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-primary mt-0">10 hours ago</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>3 new photo Uploaded on facebook fan page</p>
                                <div class="album">
                                    <a href="#">
                                        <img alt="" th:src="@{/images/small/img-1.jpg}" class="img-fluid">
                                    </a>
                                    <a href="#">
                                        <img alt="" th:src="@{/images/small/img-2.jpg}">
                                    </a>
                                    <a href="#">
                                        <img alt="" th:src="@{/images/small/img-3.jpg}">
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="timeline-item">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow"></span>
                                <span class="timeline-icon bg-purple"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-purple mt-0">14 hours ago</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>Outdoor visit at California State Route 85 with John Boltana &
                                    Harry Piterson regarding to setup a new show room.</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="timeline-item alt">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow-alt"></span>
                                <span class="timeline-icon"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-muted mt-0">19 hours ago</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>Jonatha Smith added new milestone <span><a href="#">Pathek</a></span>
                                    Lorem ipsum dolor sit amet consiquest dio</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="timeline-item alt">
                    <div class="time-show">
                        <a href="#" class="btn btn-primary width-lg">Yesterday</a>
                    </div>
                </article>
                <article class="timeline-item">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow"></span>
                                <span class="timeline-icon bg-warning"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-warning mt-0">07 January 2016</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>Montly Regular Medical check up at Greenland Hospital by the
                                    doctor <span><a href="#"> Johm meon </a></span>
                                </p>

                            </div>
                        </div>
                    </div>
                </article>
                <article class="timeline-item alt">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow-alt"></span>
                                <span class="timeline-icon bg-primary"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-primary mt-0">07 January 2016</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>Download the new updates of Adminto admin dashboard</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="timeline-item">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow"></span>
                                <span class="timeline-icon bg-success"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-success mt-0">07 January 2016</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>Jonatha Smith added new milestone <span><a class="blue" href="#">crishtian</a></span>
                                    Lorem ipsum dolor sit amet consiquest dio</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="timeline-item alt">
                    <div class="time-show">
                        <a href="#" class="btn btn-primary width-lg">Last Month</a>
                    </div>
                </article>

                <article class="timeline-item alt">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow-alt"></span>
                                <span class="timeline-icon"><i class="mdi mdi-circle"></i></span>
                                <h4 class="text-muted mt-0">31 December 2015</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>Download the new updates of Adminto admin dashboard</p>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="timeline-item">
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow"></span>
                                <span class="timeline-icon bg-danger"><i class="mdi mdi-circle">    </i></span>
                                <h4 class="text-danger mt-0">16 Decembar 2015</h4>
                                <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                <p>Jonatha Smith added new milestone <span><a href="#">prank</a></span>
                                    Lorem ipsum dolor sit amet consiquest dio</p>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
    <!-- end row -->

    <!-- Plugins js -->
    <script th:src="@{/libs/quill/quill.min.js}"></script>

    <!-- Init js -->
    <script th:src="@{/js/pages/form-quilljs.init.js}"></script>

    <!-- Custom script -->
    <script>
        // Change page title.
        const title = document.getElementsByClassName("page-title-main");
        title[0].textContent = "Announcements";

        // Disable editing of the view (editor) announcement.
        const editors = document.getElementsByClassName("ql-editor");
        editors[0].setAttribute("contenteditable", "false");
    </script>

</div>
</html>