<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}">
<head>
    <title>Announcements</title>

    <!-- Plugins css -->
    <link th:href="@{/libs/quill/quill.core.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/libs/quill/quill.bubble.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/libs/quill/quill.snow.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom css -->
    <style>
        #title {
            max-width: 90%;
            min-width: 205px;
            box-sizing: content-box; /* Ensure padding and border don't affect width */
        }

        .custom-overlay {
            transition: all 0.4s ease-in-out;
            opacity: 0;
        }

        .box:hover .custom-overlay {
            opacity: 1;
        }

        .custom-overlay.hidden {
            opacity: 0;
        }

        .time-show a {
            pointer-events: none;
        }
    </style>
</head>

<body>
<div layout:fragment="main-content">
    <div th:if="${param.publishSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> The announcement has been published successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${param.updateSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> The announcement has been updated successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${param.deleteSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> The announcement has been deleted successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <button class="btn btn-lg font-16 btn-success" id="btn-new-event" data-bs-toggle="modal"
            data-bs-target="#announcement-modal" onclick="configureModalForCreation()">
        <i class="fa fa-plus me-1"></i> Create new
    </button>

    <!-- Modal for creating and viewing/updating an announcement -->
    <div class="modal fade" id="announcement-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h4 class="modal-title" id="custom-title" style="width: 90%">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" oninput="this.size = this.value.length"
                               class="ms-1">
                        <span id="title-error-message" class="validation-error ps-1" hidden></span>
                    </h4>
                    <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"
                            aria-hidden="true" onclick="clearAnnouncementContent()"><i class="mdi mdi-close"></i>
                    </button>
                </div>

                <div class="modal-body px-0">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body py-0 px-4">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a id="preview-announcement-tab" href="#preview-announcement"
                                           data-bs-toggle="tab" aria-expanded="false"
                                           class="nav-link active" onclick="toggleTitleEditing(false)">
                                            Preview
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="edit-announcement-tab" href="#edit-announcement"
                                           data-bs-toggle="tab" aria-expanded="true"
                                           class="nav-link" onclick="toggleTitleEditing(true)">
                                            Edit
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <h4 id="editors-error-message" class="validation-error" hidden></h4>
                                    <div class="tab-pane show active pb-0" id="preview-announcement">
                                        <div class="col-12">
                                            <div class="card pb-0" id="preview-announcement-card">
                                                <div class="card-body p-0">
                                                    <div id="bubble-editor"></div>
                                                    <!-- end Snow-editor-->
                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </div><!-- end col -->
                                    </div>
                                    <div class="tab-pane pb-0" id="edit-announcement">
                                        <div class="col-12">
                                            <div class="card pb-0" id="edit-announcement-card">
                                                <div class="card-body p-0">
                                                    <div id="snow-editor">
                                                        <p>Your announcement content goes here...</p>
                                                    </div> <!-- end Snow-editor-->
                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </div><!-- end col -->
                                    </div>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div> <!-- end modal-body -->

                <div class="modal-footer bg-light d-flex justify-content-center">
                    <div id="publish-button-div">
                        <button id="publish-button" type="button" class="btn btn-success waves-effect waves-light"
                                onclick=""> <!-- TODO: Implement publish functionality -->
                            Publish now
                            <span class="btn-label-right"><i class="mdi mdi-publish"></i></span>
                        </button>
                    </div>
                    <div id="update-button-div">
                        <button id="update-button" type="button" class="btn btn-info waves-effect waves-light">
                            Update
                            <span class="btn-label-right"><i class="mdi mdi-update"></i></span>
                        </button>
                    </div>
                </div> <!-- end modal-footer -->
            </div> <!-- end modal-content -->
        </div> <!-- end modal-dialog -->
    </div>
    <!-- end modal -->

    <!-- Modal for announcement deletion -->
    <div id="announcement-delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="dripicons-warning h1 text-warning"></i>
                        <h4 id="title-delete-modal" class="mt-2"></h4>
                        <p class="mt-3">You are about to delete the announcement. This action cannot be undone.</p>
                        <button id="confirm-deletion-button" type="button" class="btn btn-warning my-2">
                            Continue
                        </button>
                        <button type="button" class="btn btn-danger ms-1" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end modal -->
    <!-- end modal -->

    <!-- Announcements timeline -->
    <div class="row">
        <div class="col-sm-12">
            <div class="timeline"
                 th:with="remainder_1=${announcementsForToday.size()%2},
                 remainder_2=${(announcementsForToday.size()+announcementsForYesterday.size())%2}">
                <!-- Today -->
                <article class="timeline-item alt">
                    <div class="time-show">
                        <a class="btn btn-purple width-lg">Today</a>
                    </div>
                </article>

                <article th:each="announcement,iterStat: ${announcementsForToday}"
                         th:with="alt=${iterStat.index%2==0}?true:false" class="timeline-item"
                         th:classappend="${alt}?'alt':''">
                    <div class="timeline-desk">
                        <div class="panel box" th:onmouseover="showButtonsDiv('buttons-div-[[${announcement.id()}]]')"
                             th:onmouseout="hideButtonsDiv('buttons-div-[[${announcement.id()}]]')">
                            <div class="panel-body">
                                <span th:class="${alt}?'arrow-alt':'arrow'"></span>
                                <span class="timeline-icon bg-purple"><i class="mdi mdi-circle"></i></span>
                                <h4 th:text="${announcement.title()}"></h4>
                                <p class="text-purple mt-1" th:text="${announcement.createdAt()}"></p>
                                <div th:id="${'buttons-div-'+announcement.id()}" class="custom-overlay mt-1 hidden"
                                     th:classappend="${alt}?'float-end':'float-start'">
                                    <button type="button"
                                            class="btn btn-sm btn-info waves-effect waves-light rounded-pill"
                                            data-bs-toggle="modal" data-bs-target="#announcement-modal"
                                            th:onclick="configureModalForViewing([[${announcement.id()}]])">View
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-danger waves-effect waves-light rounded-pill ms-1">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- Yesterday -->
                <article class="timeline-item alt">
                    <div class="time-show">
                        <a class="btn btn-pink width-lg">Yesterday</a>
                    </div>
                </article>

                <article th:each="announcement,iterStat: ${announcementsForYesterday}"
                         th:with="alt=${iterStat.index%2==remainder_1}?true:false"
                         class="timeline-item" th:classappend="${alt}?'alt':''">
                    <div class="timeline-desk">
                        <div class="panel box" th:onmouseover="showButtonsDiv('buttons-div-[[${announcement.id()}]]')"
                             th:onmouseout="hideButtonsDiv('buttons-div-[[${announcement.id()}]]')">
                            <div class="panel-body">
                                <span th:class="${alt}?'arrow-alt':'arrow'"></span>
                                <span class="timeline-icon bg-pink"><i class="mdi mdi-circle"></i></span>
                                <h4 th:text="${announcement.title()}"></h4>
                                <p class="text-pink mt-1" th:text="${announcement.createdAt()}"></p>
                                <div th:id="${'buttons-div-'+announcement.id()}" class="custom-overlay mt-1 hidden"
                                     th:classappend="${alt}?'float-end':'float-start'">
                                    <button type="button"
                                            class="btn btn-sm btn-info waves-effect waves-light rounded-pill"
                                            data-bs-toggle="modal" data-bs-target="#announcement-modal"
                                            th:onclick="configureModalForViewing([[${announcement.id()}]])">View
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-danger waves-effect waves-light rounded-pill ms-1">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- Earlier Announcements -->
                <article class="timeline-item alt">
                    <div class="time-show">
                        <a class="btn btn-blue width-lg">Earlier</a>
                    </div>
                </article>

                <article th:each="announcement,iterStat: ${earlierAnnouncements}"
                         th:with="alt=${iterStat.index%2==remainder_2}?true:false"
                         class="timeline-item" th:classappend="${alt}?'alt':''">
                    <div class="timeline-desk">
                        <div class="panel box" th:onmouseover="showButtonsDiv('buttons-div-[[${announcement.id()}]]')"
                             th:onmouseout="hideButtonsDiv('buttons-div-[[${announcement.id()}]]')">
                            <div class="panel-body">
                                <span th:class="${alt}?'arrow-alt':'arrow'"></span>
                                <span class="timeline-icon bg-blue"><i class="mdi mdi-circle"></i></span>
                                <h4 th:text="${announcement.title()}"></h4>
                                <p class="text-blue mt-1" th:text="${announcement.createdAt()}"></p>
                                <div th:id="${'buttons-div-'+announcement.id()}" class="custom-overlay mt-1 hidden"
                                     th:classappend="${alt}?'float-end':'float-start'">
                                    <button type="button"
                                            class="btn btn-sm btn-info waves-effect waves-light rounded-pill"
                                            data-bs-toggle="modal" data-bs-target="#announcement-modal"
                                            th:onclick="configureModalForViewing([[${announcement.id()}]])">View
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-danger waves-effect waves-light rounded-pill ms-1">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- end row -->

    <!-- Custom script -->
    <script th:inline="javascript">
        // Change page title.
        const title = document.getElementsByClassName("page-title-main");
        title[0].textContent = "Announcements";

        // Common elements that will be used in multiple functions.
        const editors = document.getElementsByClassName("ql-editor");  // editors[0] -> preview, editors[1] -> edit
        const editorsErrorMessage = document.getElementById("editors-error-message");

        const editAnnouncement = document.getElementById("edit-announcement");
        const previewAnnouncement = document.getElementById("preview-announcement");
        const editAnnouncementTab = document.getElementById("edit-announcement-tab");
        const previewAnnouncementTab = document.getElementById("preview-announcement-tab");
        const editAnnouncementCard = document.getElementById("edit-announcement-card");
        const previewAnnouncementCard = document.getElementById("preview-announcement-card");

        const announcementTitle = document.getElementById("title");
        const announcementTitleErrorMessage = document.getElementById("title-error-message");

        const publishButtonDiv = document.getElementById("publish-button-div");
        const updateButtonDiv = document.getElementById("update-button-div");

        // Function that shows the buttons-div.
        function showButtonsDiv(id) {
            const buttonsDiv = document.getElementById(id);
            buttonsDiv.classList.remove("hidden");
        }

        // Function that hides the buttons-div.
        function hideButtonsDiv(id) {
            const buttonsDiv = document.getElementById(id);
            buttonsDiv.classList.add("hidden");
        }

        // Function that configures the modal for creating a new announcement.
        function configureModalForCreation() {
            editAnnouncementTab.setAttribute("aria-expanded", "true");
            editAnnouncementTab.classList.add("active");
            editAnnouncement.classList.add("show", "active");
            previewAnnouncementTab.setAttribute("aria-expanded", "false");
            previewAnnouncementTab.classList.remove("active");
            previewAnnouncement.classList.remove("show", "active");
            announcementTitle.removeAttribute("disabled");
            showPublishButton();
        }

        // Function that configures the modal for viewing/updating an existing announcement.
        async function configureModalForViewing(announcementId) {
            const previewEditor = document.getElementById("preview-announcement");
            const previewEditorInnerHtml = previewEditor.innerHTML;

            editAnnouncementTab.setAttribute("aria-expanded", "false");
            editAnnouncementTab.classList.remove("active");
            editAnnouncement.classList.remove("show", "active");
            previewAnnouncementTab.setAttribute("aria-expanded", "true");
            previewAnnouncementTab.classList.add("active");
            previewAnnouncement.classList.add("show", "active");
            announcementTitle.setAttribute("disabled", "true");

            showUpdateButton();
            addSpinner(previewEditor);  // Add spinner to the preview editor

            // Fetch the announcement by its ID.
            await fetchAnnouncement(announcementId, previewEditor, previewEditorInnerHtml);

            // Adjust the size of the input field for the announcement title.
            announcementTitle.size = announcementTitle.value.length;

            // Set onclick event for the update button.
            document.getElementById("update-button").onclick = () => updateAnnouncement(announcementId);

            // Disable the contenteditable attribute of the edit announcement editor.
            editors[0].setAttribute("contenteditable", "false");
        }

        // Function that shows publish button.
        function showPublishButton() {
            publishButtonDiv.style.display = "block";
            updateButtonDiv.style.display = "none";
        }

        // Function that shows update button.
        function showUpdateButton() {
            publishButtonDiv.style.display = "none";
            updateButtonDiv.style.display = "block";
        }

        // Function that enables or disables editing of the announcement title.
        function toggleTitleEditing(editing) {
            if (editing) {
                // Enable the input field for the announcement title.
                announcementTitle.removeAttribute("disabled");
            } else {
                // Disable the input field for the announcement title.
                announcementTitle.setAttribute("disabled", "true");

                // Disable the contenteditable attribute of the edit announcement editor.
                editors[0].setAttribute("contenteditable", "false");

                // Copy the content of the edit announcement editor to the view announcement editor.
                editors[0].innerHTML = editors[1].innerHTML;
            }
        }

        // Function that clears the announcement content.
        function clearAnnouncementContent() {
            // Clear the announcement title and announcement error message.
            announcementTitle.value = "";
            announcementTitle.removeAttribute("size"); // Reset the size of the input.
            announcementTitle.classList.remove("border-danger", "border-2");
            announcementTitleErrorMessage.textContent = "";
            announcementTitleErrorMessage.setAttribute("hidden", "true");

            // Clear the announcement content and announcement error message.
            editorsErrorMessage.textContent = "";
            editorsErrorMessage.setAttribute("hidden", "true");
            previewAnnouncementCard.classList.remove("border-danger", "border-2");
            editAnnouncementCard.classList.remove("border-danger", "border-2");

            // Set the content of the editors to the default value.
            editors.forEach(function (item) {
                item.innerHTML = "<p>Your announcement content goes here...</p>";
            });
        }

        // Function that validates the announcement.
        function validateAnnouncement() {
            const titleIsEmpty = announcementTitle.value.trim() === "";
            const contentIsEmpty = editors[1].textContent.trim() === "";

            if (titleIsEmpty) showTitleErrorMessage("Title cannot be empty");
            if (contentIsEmpty) showContentErrorMessage("Content cannot be empty");

            return !(titleIsEmpty || contentIsEmpty);
        }

        // Function that shows an error message for the announcement title.
        function showTitleErrorMessage(message) {
            announcementTitle.classList.add("border-danger", "border-2");
            announcementTitleErrorMessage.textContent = message;
            announcementTitleErrorMessage.removeAttribute("hidden");
        }

        // Function that shows an error message for the announcement content.
        function showContentErrorMessage(message) {
            previewAnnouncementCard.classList.add("border-danger", "border-2");
            editAnnouncementCard.classList.add("border-danger", "border-2");
            editorsErrorMessage.textContent = message;
            editorsErrorMessage.removeAttribute("hidden");
        }

        // Function that fetches an announcement by its ID.
        async function fetchAnnouncement(id, previewEditor, previewEditorInnerHtml) {
            const response = await fetch(`/api/v1/announcements/${id}`);

            const result = await handleFetchAnnouncementResponse(response, previewEditor, previewEditorInnerHtml);
            if (result?.error) {
                alert(result.error);
            }
        }

        // Function that handles the response from the fetch announcement request and updates the UI accordingly.
        async function handleFetchAnnouncementResponse(response, previewEditor, previewEditorInnerHtml) {
            if (!response.ok) {
                const defaultMessage = "Something went wrong while fetching the announcement. " +
                    "Please try again. If the problem persists, please contact our Support.";

                try {
                    const errorResponse = await response.json();

                    // If the errorResponse object contains the "redirectUrl" key, redirect to the specified URL.
                    if ("redirectUrl" in errorResponse) {
                        window.location.href = errorResponse.redirectUrl;
                        return; // Exit the function after redirect
                    }

                    // Otherwise, return the error message (if exists) or the default message.
                    return {error: errorResponse.message || defaultMessage};
                } catch (error) {
                    console.error("An error occurred while parsing the response: ", error);
                    alert(defaultMessage);
                }
            } else {
                const announcement = await response.json();
                announcementTitle.value = announcement.title;  // Set the announcement title
                removeSpinner(previewEditor, previewEditorInnerHtml);  // Remove the spinner from the preview editor
                editors.forEach(editor => editor.innerHTML = announcement.content);  // Set the announcement content
            }
        }

        // Function that updates an announcement.
        async function updateAnnouncement(id) {
            // Validate the announcement.
            if (!validateAnnouncement()) return;

            // Get the announcement title and content.
            const title = announcementTitle.value;
            const content = editors[1].innerHTML;

            // Create an object with the announcement id, title, and content.
            const announcement = {
                id: id,
                title: title.trim(),
                content: content.trim(),
            };

            const updateButton = document.getElementById("update-button");
            addSpinner(updateButton); // Add spinner to the update button

            const response = await fetch(`/api/v1/announcements/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    [[${_csrf.headerName}]]: [[${_csrf.token}]]
                },
                body: JSON.stringify(announcement)
            });

            const result = await handleUpdateAnnouncementResponse(response, updateButton);
            if (result?.error) {
                alert(result.error);
            }

            // Function that handles the response from the update announcement request and updates the UI accordingly.
            async function handleUpdateAnnouncementResponse(response, updateButton) {
                if (!response.ok) {
                    // Remove the spinner and set the button text back to "Update".
                    removeSpinner(
                        updateButton,
                        "Update<span class='btn-label-right'><i class='mdi mdi-update'></i></span>"
                    );

                    const defaultMessage = "Something went wrong while updating the announcement. " +
                        "Please try again. If the problem persists, please contact our Support.";

                    try {
                        const errorResponse = await response.json();

                        // If the errorResponse object contains the "redirectUrl" key, redirect to the specified URL.
                        if ("redirectUrl" in errorResponse) {
                            window.location.href = errorResponse.redirectUrl;
                            return; // Exit the function after redirect
                        }

                        // If the errorResponse object contains the "title" key, update the UI accordingly.
                        const titleKeyExists = "title" in errorResponse;
                        if (titleKeyExists) showTitleErrorMessage(errorResponse.title);

                        // If the errorResponse object contains the "content" key, update the UI accordingly.
                        const contentTitleExists = "content" in errorResponse;
                        if (contentTitleExists) showContentErrorMessage(errorResponse.content);

                        // If the errorResponse object contains the "title" or "content" key, return.
                        if (titleKeyExists || contentTitleExists) return;

                        // Otherwise, return the error message (if exists) or the default message.
                        return {error: errorResponse.message || defaultMessage};
                    } catch (error) {
                        console.error("An error occurred while parsing the response: ", error);
                        alert(defaultMessage);
                    }
                } else {
                    window.location.href = response.headers.get('Location');
                }
            }
        }
    </script>

    <!-- Plugins js -->
    <script th:src="@{/libs/quill/quill.min.js}"></script>
    <script th:src="@{/libs/moment/min/moment.min.js}"></script>

    <!-- Init js -->
    <script th:src="@{/js/pages/form-quilljs.init.js}"></script>
</div>
</body>
</html>