<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}">
<head>
    <title>Appointments</title>

    <!-- Plugin css -->
    <link th:href="@{/libs/fullcalendar/main.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom css -->
    <style>
        .fc-event {
            cursor: pointer; /* Add pointer when hovering over events */
        }

        .custom-event {
            background-color: #10c469; /* Custom background color */
            color: #000000; /* Custom text color */
        }
    </style>
</head>

<body>
<div layout:fragment="main-content">
    <!-- Button to create a new appointment -->
    <button class="btn btn-lg font-16 btn-success mb-3" id="btn-new-event" data-bs-toggle="modal"
            data-bs-target="#create-modal">
        <i class="fa fa-plus me-1"></i> Create new
    </button>

    <!-- calendar -->
    <div class="card">
        <div class="card-body">
            <div id="calendar"></div>
        </div> <!-- end card body-->
    </div> <!-- end card -->

    <!-- Custom script -->
    <script>
        "use strict";

        // Change page title.
        const pageTitle = document.getElementsByClassName("page-title-main");
        pageTitle[0].textContent = "Appointments";
    </script>

    <!-- plugin js -->
    <script th:src="@{/libs/fullcalendar/main.min.js}"></script>

    <!-- Calendar init -->
    <script th:src="@{/js/calendar.init.js}" defer></script>
</div>
</body>
</html>