<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}">
<head>
    <title>Articles</title>

    <!-- Plugins css -->
    <link th:href="@{/libs/quill/quill.core.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/libs/quill/quill.bubble.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/libs/quill/quill.snow.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom css -->
    <style>
        #article-title {
            max-width: 90%;
            min-width: 205px;
            box-sizing: content-box; /* Ensure padding and border don't affect width */
        }

        #article-modal-title {
            width: 90%;
        }

        #delete-modal-title {
            overflow-wrap: anywhere; /* Ensure breaking occurs even in long unbroken words */
        }
    </style>
</head>

<body>
<div layout:fragment="main-content">
    <!-- Modal for creating and viewing/updating an article -->
    <div class="modal fade" id="article-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h4 class="modal-title" id="article-modal-title">
                        <label for="article-title">Title:</label>
                        <input type="text" id="article-title" name="title" oninput="this.size = this.value.length"
                               maxlength="100" class="ms-1">
                        <span id="title-error-message" class="validation-error ps-1" hidden></span>
                    </h4>
                    <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"
                            aria-hidden="true" onclick="clearArticleContent()"><i class="mdi mdi-close"></i></button>
                </div>

                <div class="modal-body px-0">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body py-0 px-4">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a id="preview-article-tab" href="#preview-article"
                                           data-bs-toggle="tab" aria-expanded="false"
                                           class="nav-link active" onclick="toggleTitleEditing(false)">
                                            Preview
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="edit-article-tab" href="#edit-article"
                                           data-bs-toggle="tab" aria-expanded="true"
                                           class="nav-link" onclick="toggleTitleEditing(true)">
                                            Edit
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="col-11 mx-auto">
                                        <div class="accordion custom-accordion" id="custom-accordion">
                                            <div class="card pb-0">
                                                <div class="card-header" id="tags-collapse-heading">
                                                    <h5 class="m-0 position-relative">
                                                        <a class="text-center custom-accordion-title text-reset collapsed d-block"
                                                           data-bs-toggle="collapse" href="#tags-div"
                                                           aria-expanded="false" aria-controls="tags-div">
                                                            Article tags
                                                            <i class="mdi mdi-chevron-down accordion-arrow"></i>
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="tags-div" class="collapse"
                                                     aria-labelledby="tags-collapse-heading"
                                                     data-bs-parent="#custom-accordion">
                                                    <div class="card-body">
                                                        <form id="tags-form">
                                                            <div th:each="tagCategory: ${tagCategories}">
                                                                <div class="row mb-4">
                                                                    <h5 class="form-label custom-form-label mb-2"
                                                                        th:text="${tagCategory.name()}"></h5>
                                                                    <div th:each="tag: ${tagCategory.tags()}"
                                                                         class="col-lg-4">
                                                                        <input th:id="${'tag-'+tag.id()}"
                                                                               th:value="${tag.id()}"
                                                                               type="checkbox"
                                                                               class="form-check-input rounded-circle">
                                                                        <label th:for="${'tag-'+tag.id()}"
                                                                               class="form-check-label"
                                                                               th:text="${tag.name()}"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="reset" class="btn btn-secondary">
                                                                Reset
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col-->

                                    <h4 id="editors-error-message" class="validation-error" hidden></h4>
                                    <div class="tab-pane show active pb-0" id="preview-article">
                                        <div class="col-12">
                                            <div class="card pb-0" id="preview-article-card">
                                                <div class="card-body p-0">
                                                    <div id="bubble-editor"></div>
                                                    <!-- end Snow-editor-->
                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </div><!-- end col -->
                                    </div>
                                    <div class="tab-pane pb-0" id="edit-article">
                                        <div class="col-12">
                                            <div class="card pb-0" id="edit-article-card">
                                                <div class="card-body p-0">
                                                    <div id="snow-editor">
                                                        <p>Your article content goes here...</p>
                                                    </div> <!-- end Snow-editor-->
                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </div><!-- end col -->
                                    </div>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div> <!-- end modal-body -->

                <div class="modal-footer bg-light d-flex justify-content-center">
                    <div id="publish-button-div">
                        <button id="publish-button" type="button" class="btn btn-success waves-effect waves-light"
                                onclick="publishArticle()">
                            Publish now
                            <span class="btn-label-right"><i class="mdi mdi-publish"></i></span>
                        </button>
                    </div>
                    <div id="update-button-div">
                        <button id="update-button" type="button" class="btn btn-info waves-effect waves-light">
                            Update
                            <span class="btn-label-right"><i class="mdi mdi-update"></i></span>
                        </button>
                    </div>
                </div> <!-- end modal-footer -->
            </div> <!-- end modal-content -->
        </div> <!-- end modal-dialog -->
    </div>
    <!-- end modal -->

    <!-- Modal for article deletion -->
    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="dripicons-warning h1 text-warning"></i>
                        <h4 id="delete-modal-title" class="mt-2"></h4>
                        <p class="mt-3">You are about to delete the article. This action cannot be undone.</p>
                        <button id="confirm-deletion-button" type="button" class="btn btn-warning my-2">
                            Continue
                        </button>
                        <button type="button" class="btn btn-danger ms-1" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end modal -->
    <!-- end modal -->

    <div th:if="${param.publishSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="mdi mdi-check-circle me-1"></i>
        <strong>Success!</strong> The article has been published successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${param.updateSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="mdi mdi-check-circle me-1"></i>
        <strong>Success!</strong> The article has been updated successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${param.deleteSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="mdi mdi-check-circle me-1"></i>
        <strong>Success!</strong> The article has been deleted successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Button to create a new article -->
    <button class="btn btn-lg font-16 btn-success mb-3" id="btn-new-event" data-bs-toggle="modal"
            data-bs-target="#article-modal" onclick="configureModalForCreation()">
        <i class="fa fa-plus me-1"></i> Create new
    </button>

    <!-- Articles -->
    <div class="row">
        <div th:if="${articles.isEmpty()}">
            <div class="alert alert-info text-center" role="alert">
                <i class="mdi mdi-information me-1"></i>
                <strong>No articles available!</strong>
                <br> It looks like you haven't created any articles yet.
                <br> To get started, click the <strong>"Create new"</strong> button above to create your first article.
            </div>
        </div>

        <div th:unless="${articles.isEmpty()}" id="articles-div" class="col-xl-4" th:each="article: ${articles}">
            <div class="card">
                <div class="card-body project-box text-center pb-2">
                    <div class="mb-2">
                        <h4 class="mt-0"><span class="text-dark" th:text="${article.title}"></span></h4>
                        <div class="text-uppercase font-12">
                            <span th:each="tag,iterStat: ${article.tagNames()}"
                                  th:text="${tag} + ${iterStat.last ? '' : ' | '}"></span>
                        </div>
                        <p class="text-muted font-13 mt-2 mb-2">
                            <strong>Published At :</strong> <span class="ms-1" th:text="${article.createdAt()}"></span>
                        </p>
                    </div>

                    <div>
                        <button type="button" class="btn btn-info waves-effect waves-light rounded-pill"
                                data-bs-toggle="modal" data-bs-target="#article-modal"
                                th:onclick="configureModalForViewing([[${article.id()}]])">View
                        </button>
                        <button type="button" class="btn btn-danger waves-effect waves-light rounded-pill ms-1"
                                data-bs-toggle="modal" data-bs-target="#delete-modal"
                                th:onclick="fillDeleteModal([[${article.title()}]],[[${article.id()}]])">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- end col-->
    </div>
    <!-- end row -->

    <!-- Custom script -->
    <script th:inline="javascript">
        // Change page title.
        const title = document.getElementsByClassName("page-title-main");
        title[0].textContent = "Articles";

        // Common elements that will be used in multiple functions.
        const editors = document.getElementsByClassName("ql-editor");  // editors[0] -> preview, editors[1] -> edit
        const editorsErrorMessage = document.getElementById("editors-error-message");

        const editArticle = document.getElementById("edit-article");
        const previewArticle = document.getElementById("preview-article");
        const editArticleTab = document.getElementById("edit-article-tab");
        const previewArticleTab = document.getElementById("preview-article-tab");
        const editArticleCard = document.getElementById("edit-article-card");
        const previewArticleCard = document.getElementById("preview-article-card");

        const articleTitle = document.getElementById("article-title");
        const articleTitleErrorMessage = document.getElementById("title-error-message");

        const publishButtonDiv = document.getElementById("publish-button-div");
        const updateButtonDiv = document.getElementById("update-button-div");

        // Function that configures the modal for creating a new article.
        function configureModalForCreation() {
            editArticleTab.setAttribute("aria-expanded", "true");
            editArticleTab.classList.add("active");
            editArticle.classList.add("show", "active");
            previewArticleTab.setAttribute("aria-expanded", "false");
            previewArticleTab.classList.remove("active");
            previewArticle.classList.remove("show", "active");
            articleTitle.removeAttribute("disabled");

            enableTagCheckboxes();
            showPublishButton();
        }

        // Function that configures the modal for viewing/updating an existing article.
        async function configureModalForViewing(articleId) {
            const previewEditor = document.getElementById("preview-article");
            const previewEditorInnerHtml = previewEditor.innerHTML;

            editArticleTab.setAttribute("aria-expanded", "false");
            editArticleTab.classList.remove("active");
            editArticle.classList.remove("show", "active");
            previewArticleTab.setAttribute("aria-expanded", "true");
            previewArticleTab.classList.add("active");
            previewArticle.classList.add("show", "active");
            articleTitle.setAttribute("disabled", "true");

            disableTagCheckboxes();
            showUpdateButton();
            addSpinner(previewEditor);  // Add spinner to the preview editor

            // Fetch the article by its ID.
            await fetchArticle(articleId, previewEditor, previewEditorInnerHtml);

            // Adjust the size of the input field for the article title.
            articleTitle.size = articleTitle.value.length;

            // Set onclick event for the update button.
            document.getElementById("update-button").onclick = () => updateArticle(articleId);

            // Disable the contenteditable attribute of the edit article editor.
            editors[0].setAttribute("contenteditable", "false");
        }

        // Function that shows publish button.
        function showPublishButton() {
            publishButtonDiv.style.display = "block";
            updateButtonDiv.style.display = "none";
        }

        // Function that shows update button.
        function showUpdateButton() {
            publishButtonDiv.style.display = "none";
            updateButtonDiv.style.display = "block";
        }

        // Function that enables or disables editing of the article title.
        function toggleTitleEditing(editing) {
            if (editing) {
                // Enable the input field for the article title.
                articleTitle.removeAttribute("disabled");

                enableTagCheckboxes();
            } else {
                // Disable the input field for the article title.
                articleTitle.setAttribute("disabled", "true");

                // Disable the contenteditable attribute of the edit article editor.
                editors[0].setAttribute("contenteditable", "false");

                // Copy the content of the edit article editor to the view article editor.
                editors[0].innerHTML = editors[1].innerHTML;

                disableTagCheckboxes();
            }
        }

        // Function that enables all tag checkboxes.
        function enableTagCheckboxes() {
            document.querySelectorAll("input[type='checkbox']").forEach(function (item) {
                item.removeAttribute("disabled");
            });
        }

        // Function that disables all tag checkboxes.
        function disableTagCheckboxes() {
            document.querySelectorAll("input[type='checkbox']").forEach(function (item) {
                item.setAttribute("disabled", "true");
            });
        }

        // Function that clears the article content.
        function clearArticleContent() {
            // Clear the article title and article error message.
            articleTitle.value = "";
            articleTitle.removeAttribute("size"); // Reset the size of the input.
            articleTitle.classList.remove("border-danger", "border-2");
            articleTitleErrorMessage.textContent = "";
            articleTitleErrorMessage.setAttribute("hidden", "true");

            // Clear the article content and article error message.
            editorsErrorMessage.textContent = "";
            editorsErrorMessage.setAttribute("hidden", "true");
            previewArticleCard.classList.remove("border-danger", "border-2");
            editArticleCard.classList.remove("border-danger", "border-2");

            // Set the content of the editors to the default value.
            editors.forEach(function (item) {
                item.innerHTML = "<p>Your article content goes here...</p>";
            });

            // Reset the tags form.
            document.getElementById("tags-form").reset();

            // Collapse the tags div.
            document.getElementById("tags-div").classList.remove("show");
        }

        // Function that validates the article.
        function validateArticle() {
            const titleIsEmpty = articleTitle.value.trim() === "";
            const contentIsEmpty = editors[1].textContent.trim() === "";

            if (titleIsEmpty) showTitleErrorMessage("Title cannot be empty");
            if (contentIsEmpty) showContentErrorMessage("Content cannot be empty");

            return !(titleIsEmpty || contentIsEmpty);
        }

        // Function that shows an error message for the article title.
        function showTitleErrorMessage(message) {
            articleTitle.classList.add("border-danger", "border-2");
            articleTitleErrorMessage.textContent = message;
            articleTitleErrorMessage.removeAttribute("hidden");
        }

        // Function that shows an error message for the article content.
        function showContentErrorMessage(message) {
            previewArticleCard.classList.add("border-danger", "border-2");
            editArticleCard.classList.add("border-danger", "border-2");
            editorsErrorMessage.textContent = message;
            editorsErrorMessage.removeAttribute("hidden");
        }

        // Function that publishes an article.
        async function publishArticle() {
            // Validate the article.
            if (!validateArticle()) return;

            // Publish the article.
            const tags = [];

            // Get all the selected tags and add them to the tags array.
            document
                .querySelectorAll("#tags-div input[type='checkbox']:checked")
                .forEach(tag => tags.push(tag.value));

            // Get the article title and content.
            const title = articleTitle.value;
            const content = editors[1].innerHTML;

            // Create an object with the article title, content, and tags.
            const article = {
                title: title.trim(),
                content: content.trim(),
                tagIds: tags
            };

            const publishButton = document.getElementById("publish-button");
            addSpinner(publishButton); // Add spinner to the publish button

            const response = await fetch('/api/v1/articles', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [[${_csrf.headerName}]]: [[${_csrf.token}]]
                },
                body: JSON.stringify(article)
            });

            const result = await handlePublishArticleResponse(response, publishButton);
            if (result?.error) {
                alert(result.error);
            }
        }

        // Function that handles the response from the publish article request and updates the UI accordingly.
        async function handlePublishArticleResponse(response, publishButton) {
            if (!response.ok) {
                // Remove the spinner and set the button text back to "Publish now".
                removeSpinner(
                    publishButton,
                    "Publish now<span class='btn-label-right'><i class='mdi mdi-publish'></i></span>"
                );

                const defaultMessage = "Something went wrong while publishing the article. " +
                    "Please try again. If the problem persists, please contact our Support.";

                try {
                    const errorResponse = await response.json();

                    // If the errorResponse object contains the "redirectUrl" key, redirect to the specified URL.
                    if ("redirectUrl" in errorResponse) {
                        window.location.href = errorResponse.redirectUrl;
                        return; // Exit the function after redirect
                    }

                    // If the errorResponse object contains the "title" key, update the UI accordingly.
                    const titleKeyExists = "title" in errorResponse;
                    if (titleKeyExists) showTitleErrorMessage(errorResponse.title);

                    // If the errorResponse object contains the "content" key, update the UI accordingly.
                    const contentTitleExists = "content" in errorResponse;
                    if (contentTitleExists) showContentErrorMessage(errorResponse.content);

                    // If the errorResponse object contains the "title" or "content" key, return.
                    if (titleKeyExists || contentTitleExists) return;

                    // Otherwise, return the error message (if exists) or the default message.
                    return {error: errorResponse.message || defaultMessage};
                } catch (error) {
                    console.error("An error occurred while parsing the response: ", error);
                    alert(defaultMessage);
                }
            } else {
                window.location.href = response.headers.get('Location');
            }
        }

        // Function that fetches an article by its ID.
        async function fetchArticle(id, previewEditor, previewEditorInnerHtml) {
            const response = await fetch(`/api/v1/articles/${id}`);

            const result = await handleFetchArticleResponse(response, previewEditor, previewEditorInnerHtml);
            if (result?.error) {
                alert(result.error);
            }
        }

        // Function that handles the response from the fetch article request and updates the UI accordingly.
        async function handleFetchArticleResponse(response, previewEditor, previewEditorInnerHtml) {
            if (!response.ok) {
                const defaultMessage = "Something went wrong while fetching the article. " +
                    "Please try again. If the problem persists, please contact our Support.";

                try {
                    const errorResponse = await response.json();

                    // If the errorResponse object contains the "redirectUrl" key, redirect to the specified URL.
                    if ("redirectUrl" in errorResponse) {
                        window.location.href = errorResponse.redirectUrl;
                        return; // Exit the function after redirect
                    }

                    // Otherwise, return the error message (if exists) or the default message.
                    return {error: errorResponse.message || defaultMessage};
                } catch (error) {
                    console.error("An error occurred while parsing the response: ", error);
                    alert(defaultMessage);
                }
            } else {
                const article = await response.json();
                articleTitle.value = article.title;  // Set the article title
                article.tagIds.forEach(id => document.getElementById(`tag-${id}`).checked = true);  // Set the tags
                removeSpinner(previewEditor, previewEditorInnerHtml);  // Remove the spinner from the preview editor
                editors.forEach(editor => editor.innerHTML = article.content);  // Set the article content
            }
        }

        // Function that updates an article.
        async function updateArticle(id) {
            // Validate the article.
            if (!validateArticle()) return;

            // Get all the selected tags and add them to the tags array.
            const tags = [];
            document
                .querySelectorAll("#tags-div input[type='checkbox']:checked")
                .forEach(tag => tags.push(tag.value));

            // Get the article title and content.
            const title = articleTitle.value;
            const content = editors[1].innerHTML;

            // Create an object with the article id, title, content, and tags.
            const article = {
                id: id,
                title: title.trim(),
                content: content.trim(),
                tagIds: tags
            };

            const updateButton = document.getElementById("update-button");
            addSpinner(updateButton); // Add spinner to the update button

            const response = await fetch(`/api/v1/articles/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    [[${_csrf.headerName}]]: [[${_csrf.token}]]
                },
                body: JSON.stringify(article)
            });

            const result = await handleUpdateArticleResponse(response, updateButton);
            if (result?.error) {
                alert(result.error);
            }
        }

        // Function that handles the response from the update article request and updates the UI accordingly.
        async function handleUpdateArticleResponse(response, updateButton) {
            if (!response.ok) {
                // Remove the spinner and set the button text back to "Update".
                removeSpinner(
                    updateButton,
                    "Update<span class='btn-label-right'><i class='mdi mdi-update'></i></span>"
                );

                const defaultMessage = "Something went wrong while updating the article. " +
                    "Please try again. If the problem persists, please contact our Support.";

                try {
                    const errorResponse = await response.json();

                    // If the errorResponse object contains the "redirectUrl" key, redirect to the specified URL.
                    if ("redirectUrl" in errorResponse) {
                        window.location.href = errorResponse.redirectUrl;
                        return; // Exit the function after redirect
                    }

                    // If the errorResponse object contains the "title" key, update the UI accordingly.
                    const titleKeyExists = "title" in errorResponse;
                    if (titleKeyExists) showTitleErrorMessage(errorResponse.title);

                    // If the errorResponse object contains the "content" key, update the UI accordingly.
                    const contentTitleExists = "content" in errorResponse;
                    if (contentTitleExists) showContentErrorMessage(errorResponse.content);

                    // If the errorResponse object contains the "title" or "content" key, return.
                    if (titleKeyExists || contentTitleExists) return;

                    // Otherwise, return the error message (if exists) or the default message.
                    return {error: errorResponse.message || defaultMessage};
                } catch (error) {
                    console.error("An error occurred while parsing the response: ", error);
                    alert(defaultMessage);
                }
            } else {
                window.location.href = response.headers.get('Location');
            }
        }

        // Function that fills the delete modal with the article title and sets the onclick event for the delete button.
        function fillDeleteModal(title, id) {
            // Set the title of the article to be deleted.
            document.getElementById("delete-modal-title").textContent = `${title}`;

            // Set the onclick event for the confirm deletion button.
            const confirmDeletionButton = document.getElementById("confirm-deletion-button");
            confirmDeletionButton.onclick = () => deleteArticle(id, confirmDeletionButton);
        }

        // Function that deletes an article.
        async function deleteArticle(id, confirmDeletionButton) {
            const response = await fetch(`/api/v1/articles/${id}`, {
                method: 'DELETE',
                headers: {
                    [[${_csrf.headerName}]]: [[${_csrf.token}]]
                }
            });

            addSpinner(confirmDeletionButton); // Add spinner to the publish button

            const result = await handleDeleteArticleResponse(response, confirmDeletionButton);
            if (result?.error) {
                alert(result.error);
            }
        }

        // Function that handles the response from the delete article request and updates the UI accordingly.
        async function handleDeleteArticleResponse(response, confirmDeletionButton) {
            if (!response.ok) {
                // Remove the spinner and set the button text back to "Continue".
                removeSpinner(confirmDeletionButton, "Continue");

                const defaultMessage = "Something went wrong while deleting the article. " +
                    "Please try again. If the problem persists, please contact our Support.";

                try {
                    const errorResponse = await response.json();

                    // If the errorResponse object contains the "redirectUrl" key, redirect to the specified URL.
                    if ("redirectUrl" in errorResponse) {
                        window.location.href = errorResponse.redirectUrl;
                        return; // Exit the function after redirect
                    }

                    // Otherwise, return the error message (if exists) or the default message.
                    return {error: errorResponse.message || defaultMessage};
                } catch (error) {
                    console.error("An error occurred while parsing the response: ", error);
                    alert(defaultMessage);
                }
            } else {
                window.location.href = response.headers.get('Location');
            }
        }
    </script>

    <!-- Plugins js -->
    <script th:src="@{/libs/quill/quill.min.js}"></script>
    <script th:src="@{/libs/moment/min/moment.min.js}"></script>

    <!-- Init js -->
    <script th:src="@{/js/pages/form-quilljs.init.js}"></script>
</div>
</body>
</html>