<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}">
<head>
    <title>Clients</title>

    <!-- Custom css -->
    <style>
        #client-delete-modal {
            overflow-wrap: anywhere; /* Ensure breaking occurs even in long unbroken words */
        }
    </style>
</head>

<body>
<div layout:fragment="main-content">
    <!-- Modal for client registration/edit -->
    <div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <form id="main-form" th:object="${client}" onsubmit="return validateGender()" method="post">
                <th:block th:replace="~{fragments/_csrf :: csrf}"></th:block>
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h4 class="modal-title" id="main-modal-title"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label id="first-name-label" for="first-name" class="form-label custom-form-label">
                                First Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="first-name" placeholder="Enter first name"
                                   th:field="*{firstName}" minlength="2" maxlength="50" pattern="^[a-zA-Z]{2,50}$"
                                   title="First name must be between 2 and 50 characters long."
                                   autocomplete="given-name" required>
                            <span class="reset-to-default validation-error" th:if="${#fields.hasErrors('firstName')}"
                                  th:errors="*{firstName}"></span>
                        </div>
                        <div class="mb-3">
                            <label id="last-name-label" for="last-name" class="form-label custom-form-label">
                                Last Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="last-name" placeholder="Enter last name"
                                   th:field="*{lastName}" minlength="2" maxlength="50" pattern="^[a-zA-Z]{2,50}$"
                                   title="Last name must be between 2 and 50 characters long."
                                   autocomplete="family-name" required>
                            <span class="reset-to-default validation-error" th:if="${#fields.hasErrors('lastName')}"
                                  th:errors="*{lastName}"></span>
                        </div>
                        <div class="mb-3">
                            <label id="date-of-birth-label" for="date-of-birth" class="form-label custom-form-label">
                                Date Of Birth <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" id="date-of-birth" th:field="*{dateOfBirth}"
                                   th:max="${maxDateOfBirth}" autocomplete="bday" required>
                            <span class="reset-to-default validation-error" th:if="${#fields.hasErrors('dateOfBirth')}"
                                  th:errors="*{dateOfBirth}"></span>
                        </div>
                        <div>
                            <label class="form-label custom-form-label">
                                Gender <span class="text-danger">*</span></label>
                            <div class="form-check mb-1">
                                <label>Male
                                    <input type="radio" id="male-radio-button" name="gender"
                                           class="form-check-input" value="M" th:field="*{gender}">
                                </label>
                            </div>
                            <div class="form-check form-check-pink">
                                <label>Female
                                    <input type="radio" id="female-radio-button" name="gender" value="F"
                                           th:field="*{gender}" class="form-check-input">
                                </label><br>
                            </div>
                            <div class="mb-3" th:switch="${#fields.hasErrors('gender')}">
                                <!--suppress XmlDuplicatedId -->
                                <span id="gender-error" class="reset-to-default validation-error" th:case="${true}"
                                      th:errors="*{gender}"></span>
                                <!--suppress XmlDuplicatedId -->
                                <span id="gender-error" class="reset-to-default validation-error" th:case="*"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label id="email-label" for="email" class="form-label custom-form-label">
                                Email Address <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email"
                                   autocomplete="email" th:field="*{email}" minlength="3" maxlength="50" required>
                            <span class="reset-to-default validation-error" th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}"></span>
                        </div>
                        <div class="mb-3">
                            <label id="phone-label" for="phone" class="form-label custom-form-label">
                                Phone <span class="text-danger">*</span></label>
                            <input type="tel" class="form-control" id="phone" placeholder="Enter phone"
                                   th:field="*{phone}" minlength="8" maxlength="20" pattern="^[0-9]{8,20}$"
                                   title="Phone number must be between 8 and 20 digits long."
                                   autocomplete="tel" required>
                            <span class="reset-to-default validation-error" th:if="${#fields.hasErrors('phone')}"
                                  th:errors="*{phone}"></span>
                        </div>
                    </div>
                    <div class="modal-footer bg-light d-flex">
                        <button type="submit" class="btn btn-success"></button>
                        <button type="reset" class="btn btn-secondary mx-auto">Reset</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- end modal-content -->
            </form>
        </div><!-- end modal-dialog -->
    </div><!-- end modal -->

    <!-- Modal for client deletion -->
    <div id="client-delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <i class="dripicons-warning h1 text-warning"></i>
                        <h4 id="client-fullname-delete-modal" class="mt-2"></h4>
                        <p class="mt-3">You are about to delete this client. Do you want to continue?</p>
                        <button id="confirm-client-deletion-button" type="button" class="btn btn-warning my-2">
                            Continue
                        </button>
                        <button type="button" class="btn btn-danger ms-1" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div><!-- end modal -->
    <!-- end modal -->

    <!-- Modal for client tags -->
    <div id="client-tags-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="client-tags-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form id="client-tags-form">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h4 class="modal-title" id="client-tags-modal-title">Client tags</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div th:each="tagCategory: ${tagCategories}">
                            <div class="row mb-4">
                                <h5 class="form-label custom-form-label mb-2" th:text="${tagCategory.name()}"></h5>
                                <div th:each="tag: ${tagCategory.tags()}" class="col-lg-4">
                                    <input th:id="${'tag-'+tag.id()}" th:value="${tag.id()}" type="checkbox"
                                           class="form-check-input rounded-circle">
                                    <label th:for="${'tag-'+tag.id()}" class="form-check-label"
                                           th:text="${tag.name()}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button id="save-tags-button" type="button" class="btn btn-success">Save</button>
                        <button type="reset" class="btn btn-secondary mx-auto">Reset</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div><!-- end modal-content -->
            </form>
        </div><!-- end modal-dialog -->
    </div><!-- end modal -->

    <!-- Alert messages -->
    <div th:if="${alertMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="mdi mdi-check-circle me-1"></i>
        <strong>Success!</strong> [[${alertMessage}]]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Button to register a new client -->
    <button class="btn btn-lg font-16 btn-success mb-3" data-bs-toggle="modal"
            id="registration-button" data-bs-target="#main-modal"
            onclick="fillMainModal('/clients/register', 'Register client', 'Register')">
        <i class="fa fa-plus me-1"></i> Register client
    </button>

    <!-- Clients list -->
    <div th:if="${clients.isEmpty()}" class="row">
        <div class="alert alert-info text-center" role="alert">
            <i class="mdi mdi-information me-1"></i>
            <strong>No clients available!</strong>
            <br> It looks like you haven't registered any clients yet.
            <br> To get started, click the <strong>"Register client"</strong> button above to register a new client.
        </div>
    </div>

    <div th:unless="${clients.isEmpty()}" class="row"
         th:with="maleImg=@{/images/users/male.png}, femaleImg=@{/images/users/female.png}">
        <div class="col-xl-4" th:each="c: ${clients}">
            <div class="card">
                <div class="text-center card-body">
                    <div class="dropdown float-end">
                        <a class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a th:id="${'update-anchor-button-'+c.id}" class="dropdown-item" data-bs-toggle="modal"
                               data-bs-target="#main-modal"
                               th:onclick="fillMainModal(
                               [['/clients/'+${c.id}+'/update']], 'Edit profile', 'Save',
                               [[${c.firstName}]], [[${c.lastName}]], [[${c.dateOfBirth}]],
                               [[${c.gender}]], [[${c.email}]], [[${c.phone}]], true
                               )">
                                Edit profile</a>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#client-tags-modal"
                               th:onclick="fillClientTagsModal([[${c.id}]])">
                                Client tags</a>
                            <a class="dropdown-item" data-bs-toggle="modal"
                               th:onclick="redirectToDietPage([[${c.id}]])">
                                Upload diet plan</a>
                            <form th:id="${'delete-form-'+c.id}" th:action="@{/clients/{id}/delete(id=${c.id})}"
                                  method="get">
                                <a class="dropdown-item text-danger" data-bs-toggle="modal"
                                   data-bs-target="#client-delete-modal"
                                   th:onclick="fillDeleteModal([[${c.getFullName()}]],[[${c.id}]])">
                                    Delete client</a>
                            </form>
                        </div>
                    </div>
                    <div>
                        <img th:src="${c.gender.toString() == 'F'} ? ${femaleImg} : ${maleImg}"
                             class="rounded-circle avatar-xl img-thumbnail mb-2" alt="profile-image">

                        <div class="text-start">
                            <p class="text-muted font-13"><strong>First Name :</strong> <span
                                    class="ms-1" th:text="${c.firstName}"></span>
                            </p>

                            <p class="text-muted font-13"><strong>Last Name :</strong> <span
                                    class="ms-1" th:text="${c.lastName}"></span>
                            </p>

                            <p class="text-muted font-13"><strong>Date Of Birth :</strong> <span
                                    class="ms-1" th:text="${c.getFormattedDateOfBirth()}"></span>
                            </p>

                            <p class="text-muted font-13"><strong>Phone :</strong> <span
                                    class="ms-1" th:text="${c.phone}"></span>
                            </p>

                            <p class="text-muted font-13"><strong>Email :</strong> <span
                                    class="ms-1" th:text="${c.email}"></span>
                            </p>
                        </div>

                        <button type="button" class="btn btn-primary rounded-pill waves-effect waves-light">Send
                            Message
                        </button>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <!-- Custom scripts -->
    <script th:inline="javascript" th:if="${registerValidationsFailed}">
        // Server-side register client validations returned errors. Open the main modal.
        window.onload = () => {
            document.getElementById("registration-button").click();
            document.getElementById("date-of-birth").value = [[${dateOfBirth}]];
        }
    </script>

    <script th:inline="javascript" th:if="${updateValidationsFailed}">
        // Server-side update client validations returned errors.
        // Open the main modal and fill it with the edited client's data.
        window.onload = () => {
            document.getElementById('update-anchor-button-' + [[${editedClient.id}]]).click();
            document.getElementById("first-name").value = [[${editedClient.firstName}]];
            document.getElementById("last-name").value = [[${editedClient.lastName}]];
            document.getElementById("date-of-birth").value = [[${editedClient.dateOfBirth}]];
            document.getElementById("email").value = [[${editedClient.email}]];
            document.getElementById("phone").value = [[${editedClient.phone}]];
            document.getElementById("male-radio-button").checked = [[${editedClient.gender}]] === 'M';
            document.getElementById("female-radio-button").checked = [[${editedClient.gender}]] === 'F';
        }
    </script>

    <script th:inline="javascript">
        // Change page title.
        const pageTitle = document.getElementsByClassName("page-title-main");
        pageTitle[0].textContent = "Clients";

        // Reset main form and validation errors on main modal close.
        document.getElementById("main-modal").onhidden = () => {
            document.getElementById("main-form").reset();
            document.getElementsByClassName("validation-error").forEach(element => {
                element.textContent = "";
            });
        }

        // Reset client tags form on client tags modal close.
        document.getElementById("client-tags-modal").onhidden = () => document.getElementById("client-tags-form").reset();

        // Function that validates the gender selection in the form and displays an error if none is selected.
        function validateGender() {
            // Validate gender radio buttons; if none are selected, display an error message and prevent form submission.
            const maleRadioButton = document.getElementById("male-radio-button");
            const femaleRadioButton = document.getElementById("female-radio-button");
            if (maleRadioButton.checked || femaleRadioButton.checked) {
                document.getElementById("gender-error").textContent = "";
                addSpinner(document.querySelector("#main-modal .btn-success")); // Add spinner to the submit button
                return true;
            }
            document.getElementById("gender-error").textContent = "Gender is required.";
            return false;
        }

        // Function that fills the main modal with the provided data for creating or editing a client.
        function fillMainModal(
            action, title, actionButtonText,
            firstName = '', lastName = '', dateOfBirth = '',
            gender = '', email = '', phone = '',
            edit = false
        ) {
            // Fill the main modal with the provided form action, title, and action button text.
            document.getElementById("main-form").setAttribute("action", action);
            document.querySelector("#main-modal-title").textContent = title;
            document.querySelector("#main-modal .btn-success").textContent = actionButtonText;

            // If the modal is for registering a new client, return.
            if (!edit) return;

            // If the modal is for editing a client, fill the form fields with the client's data.
            document.getElementById("first-name").value = firstName;
            document.getElementById("last-name").value = lastName;
            document.getElementById("date-of-birth").value = dateOfBirth;
            document.getElementById("email").value = email;
            document.getElementById("phone").value = phone;
            document.getElementById("male-radio-button").checked = gender === 'M';
            document.getElementById("female-radio-button").checked = gender === 'F';
        }

        // Function that fills the delete modal with the client's name and sets up the deletion confirmation.
        function fillDeleteModal(clientName, id) {
            // Set the client's full name who is about to be deleted.
            document.getElementById("client-fullname-delete-modal").textContent = clientName;

            // Set onclick event for the delete button.
            const confirmClientDeletionButton = document.getElementById("confirm-client-deletion-button");
            confirmClientDeletionButton.onclick = () => {
                // Add spinner to the delete button and submit the delete form.
                addSpinner(confirmClientDeletionButton);
                document.getElementById(`delete-form-${id}`).submit();
            };
        }

        // Function that redirects the user to the diet plan upload page for the selected client.
        function redirectToDietPage(id) {
            window.location.href = `/clients/${id}/dietPlans/upload`;
        }

        // Function that fetches and fills the client tags modal with the client's existing tags.
        async function fillClientTagsModal(id) {
            const response = await fetch(`/api/v1/clients/${id}/tags`);
            const result = await handleFillClientTagsResponse(response, id);
            if (result?.error) alert(result.error);
        }

        // Function that handles the response from the client tags fetch and updates the modal accordingly.
        async function handleFillClientTagsResponse(response, id) {
            if (!response.ok) {
                const defaultMessage = "Something went wrong while fetching client tags. " +
                    "Please try again. If the problem persists, please contact our Support.";

                try {
                    const errorResponse = await response.json();

                    // If the errorResponse object contains the "redirectUrl" key, and "redirectUrl" has a value,
                    // redirect to the specified URL.
                    if (errorResponse?.redirectUrl) {
                        window.location.href = errorResponse.redirectUrl;
                        return; // Exit the function after redirect
                    }

                    // Otherwise, return the error message (if exists and has value) or the default message.
                    return {error: errorResponse?.message || defaultMessage};
                } catch (error) {
                    console.error("An error occurred while parsing the response: ", error);
                    alert(defaultMessage);
                }
            } else {
                const tags = await response.json();
                tags.forEach(tag => document.getElementById(`tag-${tag.id}`).checked = true);

                // Set onclick event for the save tags button.
                document.getElementById("save-tags-button").onclick = () => saveTags(id);
            }
        }

        // Function that saves the selected tags for the client via an API request.
        async function saveTags(id) {
            const tags = [];
            document
                .querySelectorAll("#client-tags-modal input[type='checkbox']:checked")
                .forEach(tag => tags.push(tag.value));

            const saveTagsButton = document.getElementById("save-tags-button");
            addSpinner(saveTagsButton); // Add spinner to the save button

            const response = await fetch(`/api/v1/clients/${id}/tags`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    [[${_csrf.headerName}]]: [[${_csrf.token}]]
                },
                body: JSON.stringify(tags)
            });

            const result = await handleSaveTagsResponse(response, saveTagsButton);
            if (result?.error) alert(result.error);
        }

        // Function that handles the response from the save tags request and updates the UI accordingly.
        async function handleSaveTagsResponse(response, saveTagsButton) {
            if (!response.ok) {
                // Remove the spinner and set the button text back to "Save".
                removeSpinner(saveTagsButton, "Save");

                const defaultMessage = "Something went wrong while saving the tags. " +
                    "Please try again. If the problem persists, please contact our Support.";

                try {
                    const errorResponse = await response.json();

                    // If the errorResponse object contains the "redirectUrl" key, and "redirectUrl" has a value,
                    // redirect to the specified URL.
                    if (errorResponse?.redirectUrl) {
                        window.location.href = errorResponse.redirectUrl;
                        return; // Exit the function after redirect
                    }

                    // Otherwise, return the error message (if exists and has value) or the default message.
                    return {error: errorResponse?.message || defaultMessage};
                } catch (error) {
                    console.error("An error occurred while parsing the response: ", error);
                    alert(defaultMessage);
                }
            } else window.location.href = response.headers.get('Location');
        }
    </script>
</div>
</body>
</html>