<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" utf-8"/>
    <title>Dietitian Hub - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <!-- App css -->
    <link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css" id="app-style"/>

    <!-- icons -->
    <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css"/>
</head>

<body class="loading authentication-bg authentication-bg-pattern">

<div class="account-pages my-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="text-center mb-4">
                    <a href="https://coderthemes.com/adminto/" target=”_blank”>
                        <img th:src="@{/images/logo-dark.png}" alt="" height="22" class="mx-auto">
                    </a>

                </div>
                <div class="card">
                    <div class="card-body p-4">

                        <div class="text-center mb-4">
                            <h4 class="text-uppercase mt-0">Sign In</h4>
                        </div>

                        <form th:action="@{/authenticate-user}" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input name="username" class="form-control" type="text" id="username"
                                       placeholder="Enter your username" required>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control"
                                           placeholder="Enter your password" required>
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 d-grid text-center">
                                <button class="btn btn-primary" type="submit"> Log In</button>
                            </div>
                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<!-- Vendor -->
<script th:src="@{/libs/jquery/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/libs/node-waves/waves.min.js}"></script>
<script th:src="@{/libs/waypoints/lib/jquery.waypoints.min.js}"></script>
<script th:src="@{/libs/jquery.counterup/jquery.counterup.min.js}"></script>
<script th:src="@{/libs/feather-icons/feather.min.js}"></script>

<!-- App js -->
<script th:src="@{/js/app.min.js}"></script>

</body>
</html>