<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}">
<head>
    <title>Dashboard</title>

    <!-- Custom css -->
    <style>
        a:hover {
            cursor: pointer; /* Add pointer when hovering over links */
        }
    </style>
</head>

<body>
<div layout:fragment="main-content">
    <!-- Upcoming and Declined Appointments -->
    <div class="row">
        <!-- Upcoming Appointments -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Upcoming Appointments</h4>
                    <div class="table-responsive-sm">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col-3">Client</th>
                                <th scope="col" class="col-3">Date and Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${upcomingAppointments.isEmpty()}">
                                <td colspan="3" class="text-center">No scheduled upcoming appointments</td>
                            </tr>
                            <tr th:unless="${upcomingAppointments.isEmpty()}"
                                th:each="appointment,iterStat: ${upcomingAppointments}"
                                th:id="${'row-'+appointment.id()}">
                                <th scope="row" th:text="${iterStat.count}"></th>
                                <td th:text="${appointment.clientFullName()}"></td>
                                <td th:text="${appointment.formattedScheduledAt()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Declined Appointments -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Declined Appointments</h4>
                    <div class="table-responsive-sm">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col-3">Client</th>
                                <th scope="col" class="col-3">Date and Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${declinedAppointments.isEmpty()}">
                                <td colspan="3" class="text-center">There are no declined appointments</td>
                            </tr>
                            <tr th:unless="${declinedAppointments.isEmpty()}"
                                th:each="appointment,iterStat: ${declinedAppointments}">
                                <th scope="row" th:text="${iterStat.count}"></th>
                                <td th:text="${appointment.clientFullName()}"></td>
                                <td th:text="${appointment.formattedScheduledAt()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <!-- Completed and Cancelled Appointments -->
    <div class="row">
        <!-- Completed Appointments -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Completed Appointments</h4>
                    <div class="table-responsive-sm">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col-3">Client</th>
                                <th scope="col" class="col-3">Date and Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${completedAppointments.isEmpty()}">
                                <td colspan="3" class="text-center">There are no completed appointments</td>
                            </tr>
                            <tr th:unless="${completedAppointments.isEmpty()}"
                                th:each="appointment,iterStat: ${completedAppointments}">
                                <th scope="row" th:text="${iterStat.count}"></th>
                                <td th:text="${appointment.clientFullName()}"></td>
                                <td th:text="${appointment.formattedScheduledAt()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cancelled Appointments -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">Cancelled Appointments</h4>
                    <div class="table-responsive-sm">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th scope="col" class="col-1">#</th>
                                <th scope="col" class="col-3">Client</th>
                                <th scope="col" class="col-3">Date and Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${cancelledAppointments.isEmpty()}">
                                <td colspan="3" class="text-center">There are no cancelled appointments</td>
                            </tr>
                            <tr th:unless="${cancelledAppointments.isEmpty()}"
                                th:each="appointment,iterStat: ${cancelledAppointments}">
                                <th scope="row" th:text="${iterStat.count}"></th>
                                <td th:text="${appointment.clientFullName()}"></td>
                                <td th:text="${appointment.formattedScheduledAt()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <!-- Custom script -->
    <script th:inline="javascript">
        "use strict";

        // Change page title.
        const pageTitle = document.getElementsByClassName("page-title-main");
        pageTitle[0].textContent = "Dashboard";
    </script>
</div>
</body>
</html>